@font-face {
    font-family: 'Nexa';
    src: url('./fonts/NexaLight.woff2') format('woff2'),
        url('./fonts/NexaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('./fonts/NexaBold.woff2') format('woff2'),
        url('./fonts/NexaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'NEXT ART';
    src: url('./fonts/NEXTART-Bold.woff2') format('woff2'),
        url('./fonts/NEXTART-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('./fonts/NEXTART-Light.woff2') format('woff2'),
        url('./fonts/NEXTART-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('./fonts/NEXTART-Heavy.woff2') format('woff2'),
        url('./fonts/NEXTART-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('./fonts/NEXTART-SemiBold.woff2') format('woff2'),
        url('./fonts/NEXTART-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NEXT ART';
    src: url('./fonts/NEXTART.woff2') format('woff2'),
        url('./fonts/NEXTART.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --blue: #1560BD;
    --yellow: #D4A518;
    --cream: #FFEECA;
    --brown: #867555;
    --white: white;
    --off-black: #303030;
}

body h1,
body h2,
body h3 {
    font-family: 'NEXT ART';
}

body {
    font-family: 'Nexa';
    padding: 1rem;
}

.content,
.header .module,
.content .module,
.content .info-form {
    background-color: var(--white);
    color: var(--off-black);
}

.content a,
.header .module a {
    color: var(--brown);
    font-weight: bold;
}

.header {
    background-color: var(--blue);
    color: var(--white);
}

.header .attention {
    color: var(--yellow);
    font-weight: 400;
}

button,
.button {
    background-color: var(--yellow);
    color: var(--off-black);
    font-family: 'NEXT ART';
    font-weight: 900;
    border: 3px solid var(--yellow);
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0 .5rem .5rem 0;
    cursor: pointer;
}

button:hover,
.button:hover {
    background-color: var(--white);
    color: var(--yellow);
}

.brown-button {
    background-color: var(--brown);
    border-color: var(--brown);
    color: var(--white);
}

.brown-button:hover {
    color: var(--brown);
}

.content {
    font-size: 1.5rem;
}

.content h2 {
    margin: .5rem;
}

.content p {
    padding: 0 .5rem;
}

.content .module button {
    float: right;
}

.content .module {
    border: 4px solid var(--brown)
}

.content .info-form {
    border: 4px solid var(--yellow)
}

.header,
.content .module,
.content .info-form {
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    margin: 2rem 0 2rem 2rem;
    height: 18rem;

    flex-grow: 0;
    flex-shrink: 0;
}

.header .title,
.header h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;

    flex-grow: 1;
    flex-shrink: 1;
}

.header .module {
    margin: 2rem 3rem 2rem 5rem;
    padding: 1rem;
    width: 18rem;
    height: 18rem;
    border-radius: 10px;

    font-size: 1.25rem;

    flex-grow: 0;
    flex-shrink: 0;
}

.content {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.content .left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.75rem;
    padding: 1.75rem 0;
}

.content .module {
    padding: 1rem;
}

.content .info-form {
    margin: 1.75rem 0 1.75rem 1.75rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    flex-grow: .8;
    margin: 0 0 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form .row {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

input {
    font-size: inherit;
    font-family: inherit;
    padding: 1rem;
    border-radius: 25px;
    border: 1px solid var(--off-black);
}

@media only screen and (max-width: 1200px) {
    body {
        margin: 0;
        padding: 1rem;
    }
    
    .header {
        flex-direction: column;
    }

    .header .logo {
        margin: 2rem;
        height: 13rem;
    }

    .header .title,
    .header h1 {
        font-size: 1.8rem;
    }

    .header .module {
        margin: 2rem;
        padding: 0 1rem;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
    }

    .content .info-form {
        margin: 1.5rem;
    }

    .info-form legend {
        margin-bottom: 1.5rem;
    }

    .info-form .row {
        margin-bottom: .5rem;
    }

    .content .left {
        display: flex;
        flex-direction: column;
    }
}